.card {
    width: 18rem; /* This is default width of the card set up by BootStrap dont know how to customize it yet \*
    margin: auto; 
    margin-top: 100px; /* alligns the whole card just how i want it */
    margin: auto; /* this puts the text to the middle */
    margin-top: 100px;
}
.card-title {
    text-align: center;
}

.asd {
    border-radius: 13px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Pyro {
    height:50px;
    width: 50px;
    border-radius: 50px;
    position:absolute;
    bottom:600px;
    left:8px;
    opacity:1.0;
    border:5px solid rgb(68, 177, 150);
    
}